nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding-right: 10px;
}

nav>ul {
    display: flex;
    align-items: center;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Style in header section */
.header-section {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    width: 1920px;
    height: 850px;
}

.about-shop {
    margin-left: 197px;
}

.shop-motto {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding: 97px 97px 32px 0px;
    width: 708px;
}

.shop-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 0px 171px 32px 0px;
}

.btn-primary {
    background-color: #E55473;
    color: #FFFFFF;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.shop-pic {
    margin-right: 240px;
    padding-top: 50px;
}

/* style feature section */
.feature-section {
    background-color: #FFFFFF;
}

.feature-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}

.feature-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 590px;
    height: 60px;
    padding: 24px 663px 63px 663px;
}

/* style collection section */
.collection {
    padding: 0px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collection-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.collection-1-pic {
    padding: 110px 78px 0px 76px;
}

.collection-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.collection-2-pic {
    padding: 117px 47px 51px 47px;
}

.collection-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.collection-3-pic {
    padding: 67px 75px 0px 75px;
}

.pic-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 32px 0px 128px 0px;
}

.offer-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    display: flex;
    margin-top: 128px;
}

.offer-name {
    padding: 230px 215px 24px 423px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

span {
    color: #E55473;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    width: 594px;
    padding: 0px 186px 32px 395px;
}

.sign-up {
    padding: 0px 417px 162px 603px;
}

.offer-pic {
    padding: 100px 410px 100px 0px;
    width: 318px;
    height: 420px;
}

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 128px 870px 0px 870px;
}

.instagram-details {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    padding: 24px 663px 48px 663px;
}

.social-pic {
    display: flex;
    justify-content: space-around;
    padding: 48px 230px 128px 240px;
}

.pic1,
.pic2,
.pic3,
.pic4 {
    width: 342px;
    height: 396px;
    padding-right: 24px;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 122px 534px 0px 533px;
}

.latest-deal-section {
    background-image: url("Images/Rectangle\ 9.png");
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: 0px 240px 128px 240px;
}

.offer-token {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.email-box {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
}

.subscribe {
    display: flex;
    padding: 0px 16px 121px 287px;
}

.subscribe-btn {
    padding: 0px 287px 121px 10px;
}

footer {
    width: 1922px;
    height: 449px;
    background: #111010;
}

.footer-heading {
    text-align: center;
    padding-top: 100px;
}

.flower {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.shop {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
}

small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 783px 128px 784px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}